<dialog open>
<article>  
  <header>
    <div class="grid">
      Registro de Usuario
      <span style="text-align:right;">
        <a href="./sign-in">Ir a Login</a>
      </span>      
    </div>    
  </header>
  {{#if isError}}
  <p style="color:red">{{mensaje}}</p>
{{/if}}
{{#if isOk}}
  <p style="color:green">{{mensaje}}</p>
{{/if}}
<form action="/api/users" method="POST">
  <input name="email" id="email" type="text" placeholder="ingrese su nombre..." required />
  <input name="password" id="password" type="password" placeholder="ingrese su password.." required />
  <button type="submit">Crear usuario</button>  
</form>
</article>
</dialog>